#now-info {
    display: inline-block;
    text-align: center;
}
    #now-info .day-of-week {
        font-size: 26px;
        line-height: 30px;
    }
    #now-info .day {
        font-size: 70px;
        line-height: 80px;
    }
    #now-info .month-year {
        font-size: 26px;
        line-height: 30px;
    }

    #now-info .time {
        font-size: 50px;
        line-height: 70px;
    }
    #now-info .lesson {
        font-size: 18px;
        line-height: 30px;
    }
    #now-info .week {
        font-size: 26px;
        line-height: 36px;
    }