#admin {
    margin: 0 20px;
}
/*#user-log-grid-index .table {
    width: 60% !important;
    float: left;
}*/
#user-log-grid-index #statistics {
    width: 20% !important;
    float: left;
    margin-left: 20px; 
    margin-top: -25px;
    padding: 10px;
}

.header {
    font-size: 24px;
    vertical-align: middle;
    border-bottom: 3px solid #48AC2E;
    padding: 0 0 5px;
}
.header i {
    margin: 5px 0 0 5px;
}
