.error_container .error404 {
    position: relative;
    font-size: 50px;
    left: 190px;
    width: 600px;
}
.error_container .error404 span {
    font-size: 200px;
    margin: 0 15px;
    color: #48AC2E;
}

.error_container .sorry {
    position: relative;
    font-size: 35px;
    left: 300px;
    width: 600px;
}

#grid-facultets .button-column {
    width: 460px !important;
    padding-left: 0px;
    padding-right: 0px;
}
.button-column .btn {
    float: left;
    margin-left: 10px;
}
.btn {
    cursor: pointer !important;
}

/* By letters */

/* horisontal */
/*#letter-container {
    width: 100%;
    height: 50px;
    display: inline-block;
    border-bottom: 1px solid #dddddd; 
    box-sizing: content-box;
        -moz-box-sizing: content-box;
}
#letter-container .letter,
#letter-container .facultets {
    float: left;
}
#letter-container .letter {
    width: 10%;
    text-align: center;
    margin-top: 10px;
}
#letter-container .letter span {
    font-size: 20px;
}
#letter-container .facultets {
    width: 90%;
    margin-top: 4px;
}
#letter-container .facultets a {
    
}*/

/* vertical */
#letter-container {
    width: 10%;
    height: 200px;
    float: left;
    border-right: 1px dashed #dddddd;
    text-align: center;
}
#letter-container .letter {
    margin: 10px 0;
    padding: 0 0 5px;
}
#letter-container .letter span {
    font-size: 20px;
}
#letter-container .facultets a {
    margin: 5px 0;
    width: 90%;
}

/* Groups of the facultets */

#groups-conteiner {
    padding: 0 15px;
    display: inline-block;
    box-sizing: content-box;
      -moz-box-sizing: content-box;
}
#groups-conteiner .group{
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #D3D3D3;
    border-left: 3px solid #0892CD;
    font: 100 20px/22px sans-serif;
    padding: 10px 20px;

}

/* Timetable */

#timetable-conteiner .day {
    margin-bottom: 20px;
}
#timetable-conteiner .panel-body {
    padding: 0px !important;
}

#timetable-conteiner .table-striped tr {
    border-top: 1px solid #DDDDDD;
}
#timetable-conteiner .table-striped .success{
    border-color: #A3D48E;
    background-color: #DFF0D8;
}
#timetable-conteiner .table-striped .success td:last-of-type{
    
}
#timetable-conteiner .table-striped td:first-of-type {
    padding-left: 8px;
}
#timetable-conteiner .table-striped td {
    padding: 8px 3px;
}
#timetable-conteiner .table-striped td span {
    float: left;
    clear: both;
}