/* Now Info Widget */
#now-info {
    width: 100%;
    display: inline-block;
    text-align: center;
}
#now-info .day-of-week {
    font-size: 26px;
    line-height: 30px;
}
#now-info .day {
    font-size: 70px;
    line-height: 80px;
}
#now-info .month-year {
    font-size: 26px;
    line-height: 30px;
}

#now-info .time {
    font-size: 50px;
    line-height: 70px;
}
#now-info .lesson {
    font-size: 28px;
    line-height: 30px;
    margin: 5px 0;
}
#now-info .week {
    font-size: 26px;
    line-height: 36px;
    margin: 5px 0;
}

#now-info .horisontal .day {
    font-size: 55px;
    line-height: 40px;
    float: left;
    margin: 0 5px 0 5px;
}
#now-info .horisontal .month-year,
#now-info .horisontal .day-of-week {
    float: left;
    margin: 8px 0 0;
    font-size: 24px;
}


#now-info .horisontal .lesson {
    font-size: 24px;
    line-height: 36px;
    margin: 5px;
    float: left;
    width: 65%;
    text-align: center;
}
#now-info .horisontal .week {
    font-size: 24px;
    line-height: 36px;
    margin: 5px;
    float: right;
    width: 30%;
}
#now-info .horisontal .first {
    width: 33% !important;
    float: left;
}
.horisontal #fancyClock {
    width: 27% !important;
    float: left;
    margin: 0 !important;
    clear: none;
    padding-left: 60px; 
}
#now-info .horisontal .last {
    width: 40% !important;
    float: left;
}
.horisontal #fancyClock .clock {
    line-height: 40px;
}

/* Clock */
#fancyClock {
    width: 100%;
    clear: both;
    display: inline-block;
    text-align:center;
}
#site #now-info .day,
#site #now-info .lesson {
    color: #48AC2E;
}
#site #fancyClock {
    margin-left: 15px;
}
#fancyClock .clock{
    float:left;
    font-size:50px;
    line-height: 70px;
}
#fancyClock .clock .display {
    box-shadow: 0 6px 4px -6px #444444;
    padding: 0 5px;
}
.user_menu .dropdown-toggle {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
} 
.user_menu .user_avatar {
    padding-right: 10px;
}